main {
    flex: 1;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #F8FAFC;
}

body.dark main {
    background-color: #424242;
    color: #e0e0e0;
}

body.dark main a {
    color: #b2ffb2;
}
