main {
    flex: 1;
    padding: 20px;
}

main #pp {
    height: auto;
    width: 550px;
    background-color: #AEEFB1;
    border-radius: 5px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.15);
}

main #pp h2{
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

main #pp .contant-box h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

main p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

section {
    position: relative;
    margin-bottom: 35px;
    height: 1150px;
    width: 100%;
}

[id^="linha-"] {
    position: absolute;
    top: 3.75%;
    left: 50%;
    width: 4px;
    height: 500px; 
    border-radius: 5px;
    background-color: #ffffff;
    transform-origin: bottom center;
    z-index: 2;
    top: 6.7%;
}

#linha-1 {
    transform: rotate(0deg);
}
#linha-2 {
    transform: rotate(72deg);
}
#linha-3 {
    transform: rotate(144deg);
}
#linha-4 {
    transform: rotate(216deg);
}
#linha-5 {
    transform: rotate(288deg);
}

.camada-1 {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #F3E6FF;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-1:hover {
  width: 920px;
  height: 920px;
}

.camada-2 {
    width: 775px;
    height: 775px;
    border-radius: 50%;
    background-color: #D4B3F2;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-2:hover {
    width: 795px;
    height: 795px;
}

.camada-3 {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: #A066E0;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-3:hover {
    width: 670px;
    height: 670px;
}

.camada-4 {
    width: 525px;
    height: 525px;
    border-radius: 50%;
    background-color: #6C30A6;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-4:hover {
    width: 545px;
    height: 545px;
}

.camada-5 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #3B0C61;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-5:hover {
    width: 420px;
    height: 420px;
}

.camada-6 {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: #180527;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-6:hover {
    width: 295px;
    height: 295px;
}

.camada-7 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid white;
    transition: ease 0.4s;
}

.camada-7:hover {
    width: 170px;
    height: 170px;
}

.camada-0 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid white;
}

section .camada-1,
section .camada-2,
section .camada-3,
section .camada-4,
section .camada-5,
section .camada-6,
section .camada-7,
section .camada-0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

section h3 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    width: fit-content;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

section h2 {
    position: absolute;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #000000;
    font-size: 35px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.25);
}

#mod {
    top: calc(50% - 520px);
    left: calc(50% - 330px);
}

#tex {
    top: calc(50% - 520px);
    left: calc(50% + 330px);
}

#img {
    top: calc(50% + 200px);
    left: calc(50% + 530px);
}

#aud {
    top: calc(50% + 505px);
    left: 50%;
}

#vid {
    top: calc(50% + 200px);
    left: calc(50% - 530px);
}

.point {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: ease 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point img {
    height: 5px;
    width: 5px;
    visibility: hidden;
    transition: ease 0.5s;

}

.point.chatgpt {
    top: 15%;
    left: 23%;
    transform: translate(-50%, -50%);
    background-color: #00ff0d;
}

.point.notebooklm {
    transform: translate(-50%, -50%);
    background-color: #ffee00;
    left: 79%;
    top: 13%;
}

.point.pippitIA {
    transform: translate(-50%, -50%);
    background-color: #ffee00;
    left: 84%;
    top: 18%;
}

.point.elevenlabs {
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    left: 59%;
    top: 85%;
}

.point.midjourney {
    transform: translate(-50%, -50%);
    background-color: #00b7ff;
    left: 82%;
    top: 83%;
}

.point.gemini {
    transform: translate(-50%, -50%);
    background-color: #00ff0d;
    left: 10%;
    top: 25%;
}

.point.stability {
    transform: translate(-50%, -50%);
    background-color: #ff7b00;
    left: 5%;
    top: 60%;
}

.point.kling {
    transform: translate(-50%, -50%);
    background-color: #ff7b00;
    left: 10%;
    top: 50%;
}

.point.suno {
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    left: 58%;
    top: 96%;
}

.point:hover {
    height: 35px;
    width: 35px;
}

.point:hover img {
    visibility: visible;
    height: 25px;
    width: 25px;
}

#painel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex; /* Sempre presente, mas invisível por padrão */
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

#painel-overlay img.nota {
    height: 35px;
    width: auto;
    margin-top: 70px;
} 

#painel-overlay img {
    width: 50px;
    height: auto;
    z-index: 1;
}

#painel-overlay h2 {
    margin-top: 10px;
}

#painel-overlay.ativo {
    opacity: 1;
    visibility: visible;
}

#painel-conteudo {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.fundo-img {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
}

.fechar-painel {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.fechar-painel:hover {
    background-color: #b60000;
    transform: scale(1.1);
}

.painel-box {
    display: none;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
    position: relative;
}

.painel-box.active {
    display: block;
}

.texto-camada {
    position: absolute;
    z-index: 3;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.painel-box a {
    text-decoration: none;
    background-color: #13e400;
    padding: 5px 10px;
    border-radius: 5px;
    color: #42613e;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    transition: 0.3s ease;
    transform: translate(-50%, -50%)
}

.painel-box a:hover {
    background-color: #00c010;
    color: #fff;
    font-size: 25px;
}

.texto-camada.pid {
    top: calc(50% - 445px);
    left: 50%;
}

.texto-camada.pic {
    top: calc(50% - 385px);
    left: 50%;
}

.texto-camada.ea {
    top: calc(50% - 320px);
    left: 50%;
}

.texto-camada.sa {
    top: calc(50% - 260px);
    left: 50%;
}

.texto-camada.al {
    top: calc(50% - 195px);
    left: 50%;
}

.texto-camada.mpa {
    top: calc(50% - 130px);
    left: 50%;
}

.texto-camada.aca {
    top: calc(50% - 70px);
    left: 50%;
}

body.dark {
    background-color: #424242;
    color: #e0e0e0;
    transition: 0.6s ease;
}

body.dark header {
    background-color: #42613e;
}

body.dark nav a {
    color: #e0e0e0;
}

body.dark nav a:hover {
    color: #ffffff;
}

body.dark header h1 {
    color: #13e400;
}

body.dark .barra {
    background-color: #00c010;
}

body.dark #pp,
body.dark .painel-box,
body.dark #painel-conteudo {
    background-color: #1c1c1c;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

body.dark section h2 {
    background-color: #eeeeee;
    color: #121212;
}

body.dark .texto-camada {
    background-color: #2a2a2a;
    color: #ffffff;
}

body.dark .camada-1 { background-color: #000000; }
body.dark .camada-2 { background-color: #180527; }
body.dark .camada-3 { background-color: #3B0C61; }
body.dark .camada-4 { background-color: #6C30A6; }
body.dark .camada-5 { background-color: #A066E0; }
body.dark .camada-6 { background-color: #D4B3F2; }
body.dark .camada-7 { background-color: #F3E6FF; }
body.dark .camada-0 { background-color: #ffffff; }

body.dark .point {
    filter: brightness(0.8);
}

body.dark .fechar-painel {
    background-color: #c62828;
}

body.dark .fechar-painel:hover {
    background-color: #9a0000;
}

body.dark  main p {
    color: #fff;
}

body.dark footer {
    background-color: #42613e;
}

body.dark footer span {
    color: #00c010;
}