main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

main h1 {
    font-size: 45px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.equipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.Painel {
    width: 280px;
    padding: 25px;
    background-color: #AEEFB1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    transition: background-color 0.3s ease;
}

.Painel img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: #d5ffd9; /* placeholder */
}

.Painel h1 {
    font-size: 20px;
    color: #006614;
    font-family: 'Roboto', sans-serif;
}

.Painel h2 {
    font-size: 20px;
    color: #00a020;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* ===== Dark Mode sobre.css ===== */
body.dark {
    background-color: #424242;
    color: #e0e0e0;
    transition: 0.6s ease;
}

body.dark header {
    background-color: #42613e;
}

body.dark nav a {
    color: #e0e0e0;
}

body.dark nav a:hover {
    color: #ffffff;
}

body.dark .barra {
    background-color: #00c010;
}

body.dark .Painel {
    background-color: #006614;
}

body.dark .Painel h1 {
    color: #00ff15;
}

body.dark .Painel h2 {
    color: #00db12;
}

body.dark  main p {
    color: #fff;
}

body.dark footer {
    background-color: #42613e;
}

body.dark footer span {
    color: #00c010;
}

body.dark header h1 {
    color: #13e400;
}